django>=5.0,<5.1
sentry-sdk
django-auth-ldap
uwsgi>=2.0.28
psycopg2-binary

requests
caldav
libsasscompiler

django-simple-csp==0.3.dev1
django-markdownify
django-allauth
django-widget-tweaks
django-pipeline
django-friendly-tag-loader
djangorestframework
django-encrypted-model-fields
django-token-bucket
pytz